<button id="logout">logout</button>
<% include partials/backbone_templates %>

<script>
  $(function(){
    new Shortly();
    $('#logout').click(() => $.get('http://localhost:4568/logout', () => window.location.href = 'http://localhost:4568/login'));
  });
</script>

<script src='/client/app.js'></script>
<script src='/client/link.js'></script>
<script src='/client/links.js'></script>
<script src='/client/linkView.js'></script>
<script src='/client/linksView.js'></script>
<script src='/client/createLinkView.js'></script>
<script src='/client/router.js'></script>
